#error_container {
   color: red;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 3;
}

html,
body {
   margin: 0px;
   overflow: hidden;
}

.fullScreenCanvas {
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
   position: absolute;
   overflow: auto;
}

#glCanvas {
   z-index: 1;
}

#canvas2d {
   z-index: 2;
}

#debug_container {
   color: black;
   position: absolute;
   right: 100px;
   z-index: 2;
   top: 0px;
}

@font-face {
   font-family: 'Digital-7';
   src: url('../fonts/digital-7 (mono).ttf');

}

@font-face {
   font-family: 'New Cicle Fina';
   src: url('../fonts/New_Cicle_Fina.ttf');

}
